.btn {
  width: 100px;
  height: 40px;
  margin: 10px;
}

h3 {
  width: 100%;
}

.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.board {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  width: 350px;
  height: 375px;
  flex-flow: wrap;
}

.sboard {
  display: flex;
  flex-direction: row;
  margin: 40px auto;
  justify-content: center;
  width: 500px;
  height: auto;
  flex-flow: wrap;
}

.boardCard {
  border: solid black 1px;
  margin: 10px;
  border-radius: 4px;
  width: 80px;
  height: 100px;
}

.sideCard {
  border: solid black 1px;
  margin: 10px;
  border-radius: 4px;
  width: 80px;
  height: 100px;
  background-color: white;
}